.projects-container {
  margin: 0 auto;
  width: 95%;

  .project {
    width: 100%;
    padding-top: 25px;
    border-bottom: 1px solid #666;

    &__text {
      font-family: 'Montserrat', sans-serif;
      color: #999;
      font-size: 1.4em;
    }

    &__tech {
      padding-bottom: 10px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color: #999;
      font-size: 1em;
      letter-spacing: 1px;
      line-height: 20px;
    }

    &__heading--3 {
      @extend .project__tech;
      padding: 0;
      font-size: 1.2em;
    }

    .section {
      padding-bottom: 20px;

      &__heading--3 {
        @extend .project__tech;
        padding: 0;
        font-size: 1.2em;
      }

      &__details {
        @extend .project__tech;
        text-align: left;
      }
      &__github-text {
        @extend .section__details;
      }
      &__github-text:hover {
        color: #9d2e26;
        cursor: pointer;
      }
    }

    .screenshot {
      margin-top: 40px;

      &__project {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__promo-image {
        max-width: 75%;

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  .project:last-child {
    border-bottom: none;
  }
}
