.header {
  margin: 0 auto;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.header-logo {
  width: 40%;
  height: auto;
  @media (max-width: 768px) {
    width: 80%;
  }
}
