.technology-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  color: #999;
  border-top: 1px solid #666;

  @media (max-width: 600px) {
    font-size: 0.9em;
  }

  @media (max-width: 486px) {
    font-size: 0.7em;
  }

  &__text {
    font-size: 1.4em;
  }
}

.logo-container {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  text-align: center;
  border-bottom: 1px solid #666;

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 486px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__logos {
    width: auto;
    height: 50px;
    margin: 5px 20px;
    transition: all 0.2s ease-in-out;
  }

  &__logos:hover {
    transform: scale(1.1);
  }

  &__logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #a6a6a6;
    font-size: 0.8em;
  }
}
