.project-text {
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #999;
  font-size: 1.4em;
  text-align: center;
}

.text {
  font-family: 'Montserrat', sans-serif;
  color: #999;
  font-size: 1.4em;
}

.tech {
  font-family: 'Montserrat', sans-serif;
  color: #999;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 20px;
}

section {
  padding-bottom: 20px;
  border-bottom: 1px solid #666;
  @extend .tech;

  .screenshots {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sunny-promo-image {
    width: 100%;

    @media (max-width: 768px) {
      height: 100%;
    }
  }
}
